* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family:'Poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding:0 %;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    width: 100%;
    position: fixed;
    top:10;
    left: 0%;
    padding: 0px 8%;
    
}

 nav.logo {
    width: 100;

 }
 nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
   
 }
 nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px\;

 }
 .content{
    text-align: center;
 }

 .content h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90px;
    color: aliceblue;
    font-weight: 800;
    text-align: left;
 }
 .content a{
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top 20px;

 }