* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family:'Poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding:0 %;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    width: 100%;
    position: fixed;
    top:10;
    left: 0%;
    padding: 0px 8%;
    
}

 nav.logo {
    width: 80px;;

 }
 nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
   
 }
 nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px\;

 }
 .content{
    text-align: center;
 }

 .content button {
   display: inline-block !important;
   padding: 10px 30px !important;
   color: #25aae2 !important;
   border: 1px solid #25aae2 !important;
   border-radius: 23px;
   font-weight: 650 !important;
   font-size: 25px;
   letter-spacing: 0.3px !important;
   transition: all .5s;
 }
 
 .content button:hover {
   background-color: #25aae2;
   color: #fff !important;
 }
